<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/Add-UpdateStyle.css" />
    <title>Author List</title>
</head>

<body>
   
    <div class="content">
        <h2>Add New Author</h2>

        <form action="author-save.html" method="post">
            <input type="text" placeholder="Author Name" name="name" required/><br />
            <input type="text" placeholder="Author Biography" name="biography" required /><br />
            <input type="text" placeholder="Author Photo" name="photo" required/><br />
            <input type="text" placeholder="Author Email" name="email" required/><br />
            <input type="submit" value="Save" />
        </form>


    </div>

</body>

</html>