
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Favourite Books</title>
        <link rel="stylesheet" href="../style/user_page_style.css">
    </head>
    <body>
        <div class="navbar">
            <div class="topnav">
                <a class="active" href="#home">Books Web</a>
                <a href="#news">Authors</a>
                <a href="#contact">Books</a>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <img class="dropdown-icon"
                        src="https://img.icons8.com/ios-filled/50/000000/settings.png" />
                </button>
                <div class="dropdown-content">
                    <a href="#">Tejkiran</a>
                    <a href="#">Favourites</a>
                    <a class="logout" href="#">Logout</a>
                </div>
            </div>
        </div>

        <!-- Design a favourite books table -->

        <div class="favourite-books">
            <h1 class="favourite-book-heading ">Favourites Books</h1>

            <table class="favourite-books-table">
                <tr class="favourite-books-table-row-header">
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Genre</th>
                    <th>Rating</th>
                </tr>
                <tr>
                    <td>Harry Potter</td>
                    <td>J.K Rowling</td>
                    <td>Fiction</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <td>Harry Potter</td>
                    <td>J.K Rowling</td>
                    <td>Fiction</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <td>Harry Potter</td>
                    <td>J.K Rowling</td>
                    <td>Fiction</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <td>Harry Potter</td>
                    <td>J.K Rowling</td>
                    <td>Fiction</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <td>Harry Potter</td>
                    <td>J.K Rowling</td>
                    <td>Fiction</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <td>Harry Potter</td>
                    <td>J.K Rowling</td>
                    <td>Fiction</td>
                    <td>4.5</td>
                </tr>
            </table>

        </div>

    </body>
</html>