<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="../style/style.css">
    <title>Author Profile</title>
</head>
<body>
    <h1>William Shakespeare</h1>
    <div class="author-info">
        <img src="https://media.poetryfoundation.org/uploads/media/cache/default/0001/21/653f5eeafab7a9895af1eca68e97459c831812c6.jpeg/cafa935a461aee1e2562cd7cc3c38f4d" alt="William Shakespeare" width = "300" height = "300">
        <p>William Shakespeare (1564 - 1616) is an immortal figure in English literature and theater, recognized for his profound impact on the written word. Often referred to as the "Bard of Avon," his plays and sonnets have left an indelible mark on human culture. Works like "Romeo and Juliet," "Hamlet," and "Macbeth" showcase his unparalleled ability to explore the complexities of human nature and emotions, solidifying his legacy as one of the greatest playwrights and poets of all time.</p>
    </div>
</body>
</html>