
body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.content {
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .content h2 {
        margin-top: 0;
    }

    .content form {
        display: grid;
        gap: 2px;
    }

        .content form input[type="text"] {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .content form input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

            .content form input[type="submit"]:hover {
                background-color: #0056b3;
            }

