body {

    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

title{
    font-family: 'Tilt Prism', cursive;

} 

h1 {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
    font-family: 'Tilt Prism', cursive;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    font-family: 'Sriracha', cursive;
    font-size: 18px;
}

a:hover {
    color: #bf0603;    
}

.author-info {
    text-align: center;
    margin-top: 30px;
}

img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

p {
    margin-top: 20px;
    color: #000000;
    font-size: 18px;
    line-height: 25pt;
}
