<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
       
        <link rel="stylesheet" href="style.css">
    <title>Author Profile</title>
</head>
<body>
    <h1>Agatha Christie</h1>
    <div class="author-info">
        <img src="https://cdn.britannica.com/88/213788-050-061733DC/English-novelist-Agatha-Christie-circa-1925.jpg" alt="Agatha Christie" width = "300" height = "300">
        <p>Agatha Christie (1890 - 1976) is a revered English author celebrated for her mastery of detective fiction. Often referred to as the "Queen of Mystery," Christie's intricate plots, ingenious puzzles, and iconic detective characters like Hercule Poirot and Miss Marple have made her one of the most widely read and translated authors in the world. Her timeless novels, including "Murder on the Orient Express" and "The Murder of Roger Ackroyd," continue to captivate mystery enthusiasts.</p>
    </div>
</body>
</html>