

<!DOCTYPE html>

<html lang="en">


<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/Add-UpdateStyle.css" />

    <title>Author List</title>

</head>


<body>



    <div class="content">

        <h2>Update Author</h2>


        <form href="author-list.html" method = "patch">


            <input type="text" placeholder="Author Name" name="name" /><br />

            <input type="text" placeholder="Author Biography" name="biography" /><br />

            <input type="text" placeholder="Author Photo" name="photo" /><br />

            <input type="text" placeholder="Author Email" name="email"  /><br />

            <input type="submit" value="Update" />

        </form>


    </div>


</body>


</html>