<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../Style/style.css" />
    <title>List of Authors</title>
</head>
<body>
    <h1>List of Authors</h1>
    <ul>
        <li><a href="JKRowling.html">J.K. Rowling</a></li>
        <li><a href="RudyardKipling.html">Rudyard Kipling</a></li>
        <li><a href="JefferyArcher.html">Jeffery Archer</a></li>
        <li><a href="AgathaChristie.html">Agatha Christie</a></li>
        <li><a href="WilliamShakespeare.html">William Shakespeare</a></li>

    </ul>
</body>
</html>