<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Add-UpdateStyle.css" />
    <title>Book List</title>
</head>

<body>
   

    <div class="content">
        <h2>Add New Book</h2>

        <form action="book-save.html">
            <input type="text" placeholder="Book Title" name="title" required/><br />
            <input type="text" placeholder="Book Author" name="author" required/><br />
            <input type="text" placeholder="Book Price" name="price" required/><br />
            <input type="submit" value="Save" />
        </form>


    </div>

</body>

</html>