<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Author Profile</title>
</head>
<body>
    <h1>Jeffery Archer</h1>
    <div class="author-info">
        <img src="https://images.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/11/03/Pictures/_7b55a292-a1bb-11e6-93ed-ab826829dd0b.jpg" alt="Jeffery Archer" width = "300" height = "300">
        <p>Jeffrey Archer, born in 1940, is a British author known for his engaging novels that span a range of genres from drama to suspense. His storytelling talents are evident in popular works like "Kane and Abel" and "Not a Penny More, Not a Penny Less." Archer's writing style often involves intricate plot twists and well-developed characters, keeping readers eagerly turning the pages to uncover his compelling narratives.</p>
    </div>
</body>
</html>