<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../Style/style.css" />
        <title>Author Profile</title>
    </head>
    <body>
        <h1>J.K. Rowling</h1>
        <div class="author-info">
            <img src="https://i.guim.co.uk/img/media/f03cd900e76f09e093c31e1852e855968ebed82e/329_428_2265_1359/master/2265.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=71ae3bf999ea33572bdeaef6d9775cb2" alt="J.K. Rowling" width="300" height="300">
            <p>J.K. Rowling, born on July 31, 1965, is a British author best known for creating the immensely popular "Harry Potter" series, which captivated readers of all ages. Her imaginative world-building and intricate storytelling introduced us to a magical realm filled with spells, wizards, and fantastic creatures. Through her writing, Rowling not only entertained but also conveyed valuable themes of friendship, bravery, and the struggle between good and evil. Beyond her literary success, she's been involved in philanthropy and advocacy work, using her platform to support various charitable causes.</p>
        </div>
    </body>
</html>