<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>E-Book</title>
<!-- Bootstrap core CSS -->
<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../assets/css/User_Admin_Home.css" rel="stylesheet">

</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- Begin Logo -->
	<a class="navbar-brand" href="index.html">
	<img src="../assets/img/logo.png" alt="logo">
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			<a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Books</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="AuthorsList.html">Authors</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="favourite_author.html">My Favorites</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">MyProfile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="Login.html">Logout</a>
			</li>

		</ul>
		<!-- End Menu -->
	</div>
</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">E-Book Services</h1>
		<p class="lead">
			Welcome User!
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Authors</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="AuthorsList.html">
						<div class="thumbnail" style="background-image: url(../assets/img/demopic/RabindranathTagore.jpg);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="Author.html">Rabindranath Tagore</a></h2>
						<h4 class="card-text">Rabindranath Tagore FRAS was a Bengali poet, writer, playwright, composer, philosopher, social reformer and painter. He reshaped Bengali literature and music as well as Indian art with Contextual Modernism.</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="author.html">Rabindranath Tagore</a></span><br/>
								<span class="post-date">1861-1941</span><span class="dot"></span><span class="post-read">2 min read</span>
								</span>
								<span class="post-read-more"><a href="ViewPage.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->
<!-- begin post -->
<div class="card">
	<div class="row">
		<div class="col-md-5 wrapthumbnail">
			<a href="JkRowling.html">
				<div class="thumbnail" style="background-image: url(../assets/img/demopic/JkRowling.jpg);">
				</div>
			</a>
		</div>
		<div class="col-md-7">
			<div class="card-block">
				<h2 class="card-title"><a href="JkRowling.html">J. K. Rowling</a></h2>
				<h4 class="card-text">Joanne Rowling CH OBE FRSL, best known by her pen name J. K. Rowling, is a British author and philanthropist. She wrote Harry Potter, a seven-volume children's fantasy series published from 1997 to 2007.</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="JkRowling.html">J. K. Rowling</a></span><br/>
						<span class="post-date">1965-Present</span><span class="dot"></span><span class="post-read">2 min read</span>
						</span>
						<span class="post-read-more"><a href="JkRowling.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end post -->
<!-- begin post -->
<div class="card">
	<div class="row">
		<div class="col-md-5 wrapthumbnail">
			<a href="AuthorsList.html">
				<div class="thumbnail" style="background-image: url(../assets/img/demopic/RuskinBond.jpg);">
				</div>
			</a>
		</div>
		<div class="col-md-7">
			<div class="card-block">
				<h2 class="card-title"><a href="AuthorsList.html">Ruskin Bond</a></h2>
				<h4 class="card-text">Ruskin Bond is an Indian author. His first novel, The Room on the Roof, was published in 1956, and it received the John Llewellyn Rhys Prize in 1957. Bond has authored more than 500 short stories, essays, and novels.</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="AuthorsList.html">Ruskin Bond</a></span><br/>
						<span class="post-date">1934-Prsesnt</span><span class="dot"></span><span class="post-read">2 min read</span>
						</span>
						<span class="post-read-more"><a href="AuthorsList.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end post -->
<!-- begin post -->
<div class="card">
	<div class="row">
		<div class="col-md-5 wrapthumbnail">
			<a href="jeffreyArcher.html">
				<div class="thumbnail" style="background-image: url(../assets/img/demopic/JeffreyArcher.jpg);">
				</div>
			</a>
		</div>
		<div class="col-md-7">
			<div class="card-block">
				<h2 class="card-title"><a href="Author.html">Jeffrey Archer</a></h2>
				<h4 class="card-text">Jeffrey Howard Archer, Baron Archer of Weston-super-Mare is an English novelist, life peer, convicted criminal, and former politician. Archer wrote his first book, Not a Penny More, Not a Penny Less as a means of avoiding bankruptcy.</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="jeffreyArcher.html">Jeffrey Archer</a></span><br/>
						<span class="post-date">1976-Present</span><span class="dot"></span><span class="post-read">2 min read</span>
						</span>
						<span class="post-read-more"><a href="jeffreyArcher.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end post -->
<!-- begin post -->
<div class="card">
	<div class="row">
		<div class="col-md-5 wrapthumbnail">
			<a href="AuthorsList.html">
				<div class="thumbnail" style="background-image: url(../assets/img/demopic/ArundhatiRoy.jpg);">
				</div>
			</a>
		</div>
		<div class="col-md-7">
			<div class="card-block">
				<h2 class="card-title"><a href="Author.html">Arundhati Roy</a></h2>
				<h4 class="card-text">Suzanna Arundhati Roy is an Indian author best known for her novel The God of Small Things, which won the Booker Prize for Fiction in 1997 and became the best-selling book by a non-expatriate Indian author.</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="AuthorsList.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="AuthorsList.html">Arundhati Roy</a></span><br/>
						<span class="post-date">1961-Present</span><span class="dot"></span><span class="post-read">2 min read</span>
						</span>
						<span class="post-read-more"><a href="AuthorsList.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end post -->
<!-- begin post -->
<div class="card">
	<div class="row">
		<div class="col-md-5 wrapthumbnail">
			<a href="AuthorsList.html">
				<div class="thumbnail" style="background-image: url(../assets/img/demopic/DurjoyDatta.jpg);">
				</div>
			</a>
		</div>
		<div class="col-md-7">
			<div class="card-block">
				<h2 class="card-title"><a href="AuthorsList.html">Durjoy Datta</a></h2>
				<h4 class="card-text">Durjoy Datta was born on 7 February 1987 in Mehsana, Gujarat, in a Bengali Hindu family.Durjoy Datta's first novel is Of Course I Love You!.He was listed among young achievers in Media and Communications by Whistling Woods.</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="AuthorsList.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="author.html">Durjoy Datta</a></span><br/>
						<span class="post-date">1987-Present</span><span class="dot"></span><span class="post-read">2 min read</span>
						</span>
						<span class="post-read-more"><a href="AuthorsList.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end post -->


	</div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
		<div class="section-title">
			<h2><span>Book Store</span></h2>
		</div>
		<div class="card-columns listfeaturedtag">
	
			<!-- begin post -->
			<div class="card">
				<div class="row">
					<div class="col-md-5 wrapthumbnail">
						<a href="Book.html">
							<div class="thumbnail" style="background-image: url(../assets/img/demopic/RabindranathTagore_Book.jpg);">
							</div>
						</a>
					</div>
					<div class="col-md-7">
						<div class="card-block">
							<h2 class="card-title"><a href="Book.html">Gitanjali</a></h2>
							<h4 class="card-text">The main idea in Gitanjali is mysticism, which also brings up a number of other ideas. According to Indian philosophy, mysticism is the highest stage where the human soul is in direct contact with God.</h4>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									<a href="Book.html"><img class="author-thumb" src="../assets/img/demopic/book-fav.png" alt="Sal"></a>
									</span>
									<span class="author-meta">
									<span class="post-name"><a href="Book.html">Gitanjali</a></span><br/>
									<span class="post-date">Read More</span><span class=" "></span>
									</span>
									<span class="post-read-more"><a href="ViewPage.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end post -->
	<!-- begin post -->
	<div class="card">
		<div class="row">
			<div class="col-md-5 wrapthumbnail">
				<a href="Book.html">
					<div class="thumbnail" style="background-image: url(../assets/img/demopic/JkRowling_Book.jpg);">
					</div>
				</a>
			</div>
			<div class="col-md-7">
				<div class="card-block">
					<h2 class="card-title"><a href="Book.html">Harry Potter</a></h2>
					<h4 class="card-text">J.K. Rowling's popular children's novels about Harry Potter, a boy who learns on his eleventh birthday that he is the orphaned son of two powerful wizards and possesses unique magical powers of his own.</h4>
					<div class="metafooter">
						<div class="wrapfooter">
							<span class="meta-footer-thumb">
							<a href="Book.html"><img class="author-thumb" src="../assets/img/demopic/book-fav.png" alt="Sal"></a>
							</span>
							<span class="author-meta">
							<span class="post-name"><a href="Book.html">Harry Potter</a></span><br/>
							<span class="post-date">Read More</span><span class=" "></span>
							</span>
							<span class="post-read-more"><a href="ViewPage.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end post --><!-- begin post -->
			<div class="card">
				<div class="row">
					<div class="col-md-5 wrapthumbnail">
						<a href="Book.html">
							<div class="thumbnail" style="background-image: url(../assets/img/demopic/DurjoyDatta_Book.jpg);">
							</div>
						</a>
					</div>
					<div class="col-md-7">
						<div class="card-block">
							<h2 class="card-title"><a href="Book.html">The Prefect Us!</a></h2>
							<h4 class="card-text">The story is of a married couple wanting to take the next step forward in their lives. It talks about the issues and struggles which would-be parents face. It also talks about the inevitable changes that creep in a marriage/relationship</h4>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									<a href="Book.html"><img class="author-thumb" src="../assets/img/demopic/book-fav.png" alt="Sal"></a>
									</span>
									<span class="author-meta">
									<span class="post-name"><a href="Book.html">The Perfect Us!</a></span><br/>
									<span class="post-date">Read More</span><span class=" "></span>
									</span>
									<span class="post-read-more"><a href="ViewPage.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end post --><!-- begin post -->
			<div class="card">
				<div class="row">
					<div class="col-md-5 wrapthumbnail">
						<a href="Book.html">
							<div class="thumbnail" style="background-image: url(../assets/img/demopic/JeffreyArcher_Book.jpg);">
							</div>
						</a>
					</div>
					<div class="col-md-7">
						<div class="card-block">
							<h2 class="card-title"><a href="Book.html">Next In Line</a></h2>
							<h4 class="card-text">London, 1988. Royal fever sweeps the nation as Britain falls in love with the peoples princess. the focus is on the elite Royalty Protection Command they quite simply have to be the best. A weak link could spell disaster.</h4>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									<a href="Book.html"><img class="author-thumb" src="../assets/img/demopic/book-fav.png" alt="Sal"></a>
									</span>
									<span class="author-meta">
									<span class="post-name"><a href="Book.html">Next In Line</a></span><br/>
									<span class="post-date">Read More</span><span class=" "></span>
									</span>
									<span class="post-read-more"><a href="ViewPage.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end post -->

	<!-- Begin Footer
	================================================== -->

	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
