@using ConceptArchitect.BookManagement
@model Author
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}





<h2>Delete Author</h2>



<div>
    Are you sure you want to delete the author with ID <strong>@Model.Id</strong>?
</div>



<form action="/authors/delete/@Model.Id" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Delete" />
</form>